@import "tailwindcss";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
}

@layer base {
  html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply bg-stone-900 text-stone-100;

    color-scheme: light dark;
    height: 100dvh;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
  }

  button,
  button[type="button"] {
    @apply bg-stone-700 hover:bg-stone-600 active:bg-stone-800 rounded-lg;

    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    cursor: pointer;
  }
}
